<div>
  <div class="row text-center top_bar">
    <div class="col sm-2">
      <div class="logo">
        <img src="./assets/Design.svg" alt="" />
        <label>Design it well</label>
      </div>
    </div>
    <div class="col sm-4">
      <div class="status">
        <div class="namestatus">Admin Portal</div>
        <div class="status_1">
          Verify the content with Nitesh & Gurvinder Before Uploading
        </div>
      </div>
      <span id="fetchstatus" class="msg-val" style="margin-top: 16px"
        >Please Wait.....</span
      >
    </div>
    <div class="col">
      <div style="float: right; margin-top: 40px">
        <div class="d-flex flex-row gap-3">
          <div class="submit-button col">
            <button
              id="divbut"
              [disabled]="cstatus"
              class="button"
              (click)="addUpdate()"
            >
              Submit
            </button>
          </div>
        </div>
        <span id="bsta" class="msg-val" style="margin-top: 16px"
          >All fields are mandatory</span
        >
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 100px">
    <div>
      <div class="mStatus">
        <div
          [ngClass]="[statusDesign ? 'add_design' : 'add_design-inactive']"
          (click)="addMethodView()"
        >
          Add Design method
        </div>
        <div>
          <div
            [ngClass]="[statusDesign ? 'add_design-inactive' : 'add_design']"
            (click)="listMethodView()"
          >
            Edit Design Method
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row">
      <router-outlet
        [ngClass]="[displayStyle == 'block' ? 'modal-backdrop' : '']"
        (activate)="updateStatus($event)"
        (inactivate)="updateStatus($event)"
        ><div></div
      ></router-outlet>
    </div>
  </div>
</div>
<!-- ----------------------------------------------------------------------- -->
